@import "params";

.filter {
  margin: 10px 20px 0 0;
  padding: 16px;
  width: 270px;
  height: max-content;
  background-color: $white;

  &-result {
    padding-bottom: 16px;
    border-bottom: 1px solid black;
  }

  .params1 {
    accent-color: blue;
  }
  .params2 {
    accent-color: blue;
  }
  .params3 {
    div {
      input {
        width: 45%;
      }
    }
  }
  .params4 {
    margin: 5px 0;
  }
  button {
    width: 100%;
    // border: none;
  }
}
