@import "mixins";
@import "params";
@import "header";
@import "footer";
@import "filter";
@import "nav";
@import "breadcrumbs";

@include card;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  // color: $black;
}

body {
  background-color: $bg-color;
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
  }
  #logo {
    width: 5%;
  }
}

.breadcrumb {
  margin: 10px;
}

.mainINf {
  display: flex;
}

.cardInf {
  h1 {
    text-align: center;
  }
}

.sortdNavigate {
  display: flex;
  justify-content: flex-end;
}

.some-text {
  background-color: $white;
  color: black;
  margin: 24px 0;
  padding: 20px;
  border-radius: 0.2em;
}

.some-title {
  font-size: 2em;
}

.about-truck {
  margin: 10px 0;
}

.links {
  .link {
    border-radius: 50%;
    &:hover {
      background-color: $grey2;
    }
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  h2 {
    margin: 0;
  }
  #logo {
    width: 50px;
  }
}
