@import "mixins";
@import "params";
@import "header";
@import "footer";
@import "filter";
@import "nav";
@import "breadcrumbs";

@include card;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  // color: $black;
}

body {
  background-color: $bg-color;
}

.breadcrumb {
  margin: 10px;
}

.mainINf {
  display: flex;
}

.cardNavigate {
  display: flex;
  justify-content: space-between;
}

.some-text {
  background-color: $white;
  color: black;
  margin: 24px 0;
  padding: 20px;
  border-radius: 0.2em;

  // width: 560px;
}

.some-title {
  font-size: 2em;
}

.about-truck {
  margin: 10px 0;
}
