@import "params";

nav {
  padding: 15px;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $white;
  & a {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
